/* ================ PORTFOLIO PAGE ================*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--primary-light-color);
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressed-state-color);
    color: var(--primary-white-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-list-item .portfolio-list-item-img-wrapper {
    transition: box-shadow var(transition-dur-and-func);
}

.portfolio-list-item:hover .portfolio-list-item-img-wrapper,
.portfolio-list-item:focus .portfolio-list-item-img-wrapper {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-link:hover,
.portfolio-list-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.span-header {
    color: var(--primary-dark-color);
}

.portfolio-list-item-container {
    padding: 32px 16px;
    padding-top: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.projects-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-dark-color);
    margin-bottom: 8px;
}

.projects-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.portfolio-list-item-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    color: var(--primary-light-color);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
}

.portfolio-list-item-link:hover .overlay,
.portfolio-list-item-link:focus .overlay {
    transform: translateY(0%);
}

/* ================ PAGE FOOTER ================*/



/* ================ BACKDROP ================ */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ================ MODAL WINDOW ================ */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
    background-color: var(--modal-background-color);
    border-radius: 4px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform var(--transition-dur-and-func);
}

.close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--accent-color);
    transition: background-color var(--transition-dur-and-func), 
        border var(--transition-dur-and-func);
    color: var(--primary-dark-color);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--pressed-state-color);
    border: none;
    color: #ffffff;
}

.close-btn-icon {
    fill: currentColor;
    transition: fill var(--transition-dur-and-func);
}

.close-btn-icon:hover,
.close-btn-icon:focus {
    fill: currentColor;
}

.contacts-for-call-form-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-dark-color);
    margin-bottom: 16px;
}

.contacts-for-call-form-field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: var(--subtle-text-color);
}

.contacts-for-call-form-user-label-and-input-wrapper {
    margin-bottom: 8px;
}

.contacts-for-call-form-user-label-and-message-wrapper {
    margin-bottom: 16px;
}

.contacts-for-call-form-field-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 0.86;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--subtle-text-color);
    margin-bottom: 4px;
}

.contacts-for-call-form-input-wrapper {
    display: block;
    position: relative;
}

.contacts-for-call-form-input {
    width: 100%;
    height: 40px;
    top: 84px;
    border-radius: 4px ;
    border: 1px solid var(--input-border-color);
    background-color: transparent;
    padding-left: 38px;
    font-size: 18px;
    outline: transparent;
    transition: border-color var(--transition-dur-and-func);
}

.contacts-for-call-form-input:focus {
    border-color: var(--primary-brand-color);
    outline: transparent;
    outline-offset: 4px;
}

.contacts-for-call-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--primary-dark-color);
    transition: fill var(--transition-dur-and-func);
}

.contacts-for-call-form-input:focus + .contacts-for-call-form-input-icon {
    fill: var(--primary-brand-color);
}

.contacts-for-call-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid var(--input-border-color);
    color: var(--input-border-color);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    transition: border-color var(--transition-dur-and-func);
}

.contacts-for-call-form-message:focus {
    border-color: var(--primary-brand-color);
}

.contacts-for-call-form-message::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: var(input-border-color);
}

.contacts-for-call-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.contacts-for-call-form-checkbox-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
}

.privacy-policy-checkbox-wrapper {
    display: inline-flex;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    transition: background-color var(--transition-dur-and-func),
        border var(--transition-dur-and-func),
        fill var(--transition-dur-and-func);
}

.contacts-for-call-form-checkbox:checked + .contacts-for-call-form-checkbox-label > .privacy-policy-checkbox-wrapper {
    fill: var(--primary-light-color);
    background-color: var(--pressed-state-color);
    border: none;
}

.contacts-for-call-form-checkbox-label:focus > .privacy-policy-checkbox-wrapper {
    border-color: var(--primary-brand-color);
}

.privacy-policy-link {
    font-size: 14px;
    color: var(--primary-brand-color);
}

.privacy-policy-link:hover {
    color: var(--pressed-state-color);
}

.contacts-for-call-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: var(--primary-brand-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func);
}

.contacts-for-call-form-btn:hover,
.contacts-for-call-form-btn:focus {
    background-color: var(--pressed-state-color);
}


