@media screen and (max-width: 320px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .logo-footer {
        display: inline-block;
        text-align: center;
        margin-bottom: 16px;
        width: 100%;
    }

    .span-footer {
        color: var(--primary-light-color);
    }

    footer {
        background-color: var(--primary-dark-color);
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-text {
        color: var(--primary-light-color);
        letter-spacing: 0.02em;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        max-width: 268px;
    }

    .social-list-title {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .social-list {
        display: flex;
        gap: 16px;
    }

    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--primary-brand-color);
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-func);
    }

    .social-list-link:hover,
    .social-list-link:focus {
        background-color: #31D0AA;
    }

    .social-list-icon {
        fill: var(--primary-light-color);
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .subscribe-form-description {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .subscribe-form-label {
        display: inline-flex;
        flex-direction: column;
        gap: 16px;
    }

    .subscribe-form-input {
        width: 280px;
        height: 40px;
        background-color: transparent;
        color: var(--primary-white-color);
        border: 1px solid var(--primary-white-color);
        border-radius: 4px;
        padding-left: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-size: 12px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .subscribe-form-input:focus {
        outline-color: transparent;
        outline-offset: 4px;
    }

    .subscribe-form-input::placeholder {
        font-size: 12px;
        color: var(--primary-white-color);
    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        display: inline-flex;
        padding: 8px 24px;
        gap: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: var(--primary-white-color);
        background-color: var(--primary-brand-color);
        transition: background-color var(--transition-dur-and-func);
    }

    .subscribe-form-button:hover,
    .subscribe-form-button:active {
        background-color: var(--pressed-state-color);
    }

    .subscribe-form-button-icon {
        fill: var(--primary-white-color);
        margin-left: 16px;
    }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .logo-footer {
        display: inline-block;
        text-align: center;
        margin-bottom: 16px;
        width: 100%;
    }

    .span-footer {
        color: var(--primary-light-color);
    }

    footer {
        background-color: var(--primary-dark-color);
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-text {
        color: var(--primary-light-color);
        letter-spacing: 0.02em;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        max-width: 268px;
    }

    .social-list-title {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .social-list {
        display: flex;
        gap: 16px;
    }

    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--primary-brand-color);
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-func);
    }

    .social-list-link:hover,
    .social-list-link:focus {
        background-color: #31D0AA;
    }

    .social-list-icon {
        fill: var(--primary-light-color);
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .subscribe-form-description {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .subscribe-form-label {
        display: inline-flex;
        flex-direction: column;
        gap: 16px;
    }

    .subscribe-form-input {
        width: 398px;
        height: 40px;
        background-color: transparent;
        color: var(--primary-white-color);
        border: 1px solid var(--primary-white-color);
        border-radius: 4px;
        padding-left: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-size: 12px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .subscribe-form-input:focus {
        outline-color: transparent;
        outline-offset: 4px;
    }

    .subscribe-form-input::placeholder {
        font-size: 12px;
        color: var(--primary-white-color);
    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        display: inline-flex;
        padding: 8px 24px;
        gap: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: var(--primary-white-color);
        background-color: var(--primary-brand-color);
        transition: background-color var(--transition-dur-and-func);
    }

    .subscribe-form-button:hover,
    .subscribe-form-button:active {
        background-color: var(--pressed-state-color);
    }

    .subscribe-form-button-icon {
        fill: var(--primary-white-color);
        margin-left: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        width: 584px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: baseline;
        /* padding-left: 108px; */
    }

    .social-list-container {
        display: block;
        align-items: center;
    }

    .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
    }

    .span-footer {
        color: var(--primary-light-color);
    }

    footer {
        background-color: var(--primary-dark-color);
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-text {
        color: var(--primary-light-color);
        letter-spacing: 0.02em;
        line-height: 1.5;
        width: 264px;
    }

    .social-list-title {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .social-list {
        display: flex;
        gap: 16px;
    }

    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--primary-brand-color);
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-func);
    }

    .social-list-link:hover,
    .social-list-link:focus {
        background-color: #31D0AA;
    }

    .social-list-icon {
        fill: var(--primary-light-color);
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-form-description {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .subscribe-form-input {
        width: 268px;
        height: 40px;
        background-color: transparent;
        color: var(--primary-white-color);
        border: 1px solid var(--primary-white-color);
        border-radius: 4px;
        padding-left: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-size: 12px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .subscribe-form-input:focus {
        outline-color: transparent;
        outline-offset: 4px;
    }

    .subscribe-form-input::placeholder {
        font-size: 12px;
        color: var(--primary-white-color);
    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        display: inline-flex;
        padding: 8px 24px;
        gap: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: var(--primary-white-color);
        background-color: var(--primary-brand-color);
        transition: background-color var(--transition-dur-and-func);
    }

    .subscribe-form-button:hover,
    .subscribe-form-button:active {
        background-color: var(--pressed-state-color);
    }

    .subscribe-form-button-icon {
        fill: var(--primary-white-color);
        margin-left: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .social-list-container {
        display: block;
        align-items: center;
        margin-right: 80px;
    }

    .logo-and-text-container {
        margin-right: 120px;
    }

    .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
    }

    .span-footer {
        color: var(--primary-light-color);
    }

    footer {
        background-color: var(--primary-dark-color);
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-text {
        color: var(--primary-light-color);
        letter-spacing: 0.02em;
        line-height: 1.5;
        width: 264px;
    }

    .social-list-title {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .social-list {
        display: flex;
        gap: 16px;
    }

    .social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: var(--primary-brand-color);
        border-radius: 50%;
        transition: background-color var(--transition-dur-and-func);
    }

    .social-list-link:hover,
    .social-list-link:focus {
        background-color: #31D0AA;
    }

    .social-list-icon {
        fill: var(--primary-light-color);
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .subscribe-form-description {
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-white-color);
        font-size: 16px;
    }

    .subscribe-form-input {
        width: 264px;
        height: 40px;
        background-color: transparent;
        color: var(--primary-white-color);
        border: 1px solid var(--primary-white-color);
        border-radius: 4px;
        padding-left: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-size: 12px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .subscribe-form-input:focus {
        outline-color: transparent;
        outline-offset: 4px;
    }

    .subscribe-form-input::placeholder {
        font-size: 12px;
        color: var(--primary-white-color);
    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        display: inline-flex;
        padding: 8px 24px;
        gap: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: var(--primary-white-color);
        background-color: var(--primary-brand-color);
        transition: background-color var(--transition-dur-and-func);
    }

    .subscribe-form-button:hover,
    .subscribe-form-button:active {
        background-color: var(--pressed-state-color);
    }

    .subscribe-form-button-icon {
        fill: var(--primary-white-color);
        margin-left: 16px;
    }
}